body{
	background-color: yellow;
}
.gameTitle{
	background-color: royalblue;
	color: yellow;
}
#top{
	font-size: 36px;
	text-decoration: underline;
	color: royalblue;
}
.wordWell{
	width: 500px;
	background-color: blue;
	color: yellow;
	font-weight: bold;
}
#word{
	font-size: 24px;
}
#stats{
	font-size: 20px;
}
#messages{
	background-color: yellow;
}
#message{
	color:royalblue
	font-size: 24px;
	font-weight: bold;
}